.homePageContainer {
    width: 100%;
    margin-right: 7rem;
    margin-top: 1.5rem;
}


.homePageItem1, .homePageItem2 {
    display: flex;
    flex-direction: row;
}

.errorContainer {
    display: flex;
    flex-direction: row;
}

.errorEmpty {    
    width: 29.4rem;
}

.referenceData1Empty {
    width: 29.4rem;
}
