.flexboxContainerRender {
    display: flex;
    flex-direction: row;
}

.searchResultContainer {
    background-color: rgb(243, 245, 247);
    border-radius: 5px;
    margin-top: 4rem;
    margin-left: 11rem;
    padding: 3.5rem 4.5rem 5.5rem 4rem;
}

.inputForm > input {
    width: 26rem;
    height: 1.8rem;
    margin-top: 4rem;
    margin-right: 3rem;    
    margin-bottom: 1rem;
}

.inputForm > button {
    background-color: black;
    color: white;
    width: 8rem;
    height: 2.2rem;    
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.back {
    color: black;
    text-decoration: none;
}

.flexboxContainer {
   width: 37rem;
}

.flexboxContainer:first-child {
    margin-top: 3rem;
  }

.flexboxItem, .flexboxItem2 {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}

.flexboxItem > p {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.flexboxItem2 > p {
    margin-bottom: 1rem;
}

.flexboxItem2 {
    border-bottom: solid 1px black;
}

.title, .address {
    margin-right: 1rem;
}


