.footer {    
    max-width: 100%;
    position: absolute;
    bottom: 0;
    display: block; 
    padding: 0rem 4rem 0.6rem 4rem;
    font-size: 11pt;
}

@media all and (max-width:600px) {
    .footer {    
        color: transparent;
    }
}

@media all and (max-height: 450px)  {
    .footer {    
        color: transparent;
    }
}