.footer {    
    max-width: 100%;
    position: absolute;
    bottom: 0;
    display: block; 
    padding: 0rem 4rem 0.6rem 4rem;
    font-size: 11pt;
}

@media all and (max-width:1024px) {
    .footer {    
        padding: 0rem 4rem 2rem 4rem;
        color: transparent;
    }
}