.messageContainer {
    background-color: rgba(231, 240, 254);
    margin-right: 3rem;
    padding: 10px 0px 10px 20px;
    border-radius: 3px;    
    width: 25.2rem;
    font-size: 10.5pt;
    display: flex;
    flex-direction: row;
}

.messageContainer > img {
    margin-top: 0.10rem;
    margin-right: 0.5rem;
}

@media all and (max-width:1200px) {
    .messageContainer {   
        width: 42rem;
    }
}

@media all and (max-width:800px) {
    .messageContainer {   
        width: 31.5rem;
    }
}

@media all and (max-width:450px) {
    .messageContainer {   
        width: 18rem;
        font-size: 8pt;
    }

    .messageContainer > img {
        margin-top: -0.1rem;
    }
}