.messageContainer {
    background-color: rgba(231, 240, 254);
    padding: 10px 0px 10px 20px;
    border-radius: 5px;
    width: 54.7rem;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.messageContainer > img {
    margin-top: 0.10rem;
    margin-right: 0.5rem;
}