.messageContainer {
    background-color: rgba(231, 240, 254);
    margin-right: 3rem;
    padding: 10px 0px 10px 270px;
    border-radius: 3px;    
    width: 39rem;
    font-size: 10.5pt;
    display: flex;
    flex-direction: row;
}

.messageContainer > img {
    margin-top: 0.10rem;
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
}

@media all and (max-width:1200px) {
    .messageContainer {   
        width: 32rem;
        padding: 8px 0px 8px 180px;
        
        font-size: 10pt;
    }
}

@media all and (max-width:800px) {
    .messageContainer {   
        width: 30rem;
        padding: 10px 0px 10px 130px;
    }
}

@media all and (max-width:600px) {
    .messageContainer {   
        width: 93%;
        padding: 8px 0px 8px 15px;
        font-size: 8.5pt;
    }

    .messageContainer > img {
        width: 14px;
        height: 14px;
    }
}

@media all and (max-height: 450px)  {
    .messageContainer {   
        width: 94%;
        padding: 8px 0px 8px 15px;
        font-size: 8.5pt;
    }

    .messageContainer > img {
        margin-top: 0.05rem;
        width: 14px;
        height: 14px;
    }
}