.flexboxContainer {   
    width: 26.5rem;
    margin-right: 3rem;
    margin-top: 2.5rem;
}

.flexboxItem {
    display: flex;
    flex-direction: row;
}

.flexboxItem > p {
    margin-bottom: 0.5rem;
}

.name, .address {
    font-weight: bold;
    margin-right: 1rem;
}