.flexboxContainer {   
    width: 26.5rem;
    margin-right: 3rem;
    margin-top: 2.5rem;
}

.flexboxItem {
    display: flex;
    flex-direction: row;
}

.flexboxItem > p {
    margin-bottom: 0.5rem;
}

.name, .address {
    font-weight: bold;
    margin-right: 1rem;
}

@media all and (max-width:1200px) {
    .flexboxContainer {   
        width: 20rem;
        margin-bottom: -1rem;
    }
}

@media all and (max-width:850px) {
    .flexboxContainer {
        font-size: 10pt;
    }
}

@media all and (max-width:450px) {
    .flexboxContainer {   
        width: 100%;
        margin-right: 2rem;
        margin-top: 2rem;
    }
}