.inputForm {
    width: 100%;
}

.inputForm > input {
    width: 26rem;
    height: 1.8rem;
    margin-top: 5rem;
    margin-right: 3rem;    
    margin-bottom: 1rem;
    background-color: none;
}

.inputForm > button {
    background-color: black;
    color: white;
    width: 8rem;
    height: 2.2rem;    
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}