.inputForm {
    width: 100%;
    padding-top: 5rem;
}

.inputForm > input {
    width: 26rem;
    height: 1.8rem;   
    margin-right: 3rem;    
    margin-bottom: 1rem;
    background-color: none;
}

.inputForm > button {
    background-color: black;
    color: white;
    width: 8rem;
    height: 2.2rem;    
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

@media all and (max-width:1200px) {
    .inputForm > input {
        width: 19.5rem;
        margin-right: 3.5rem;        
        font-size: 11pt;
    }
}

@media all and (max-width:1000px) {
    .inputForm > input {
        width: 95%;
        margin-right: 0rem;    
        margin-bottom: 2rem;
    }
}

@media all and (max-width:600px) {
    .inputForm {
        margin-right: 0rem;    
        margin-bottom: 2rem;
        padding-top: 1rem;
    }

    .inputForm > input {
        height: 1.6rem;     
        margin-bottom: 1rem;
        font-size: 9pt; 
    }
    
    .inputForm > button {
        background-color: black;
        color: white;
        width: 98%;
        height: 1.9rem;
        font-size: 9pt;    
    }
}

@media all and (max-height: 450px)  {
    .inputForm {
        padding-top: 3.5rem;
    }

    .inputForm > input {  
        margin-bottom: 1rem;
        font-size: 9pt;
    }

    .inputForm > button {   
        font-size: 9pt;
    }
}