.flexboxContainer {
    width: 37rem;
}

.flexboxContainer:hover {
    padding-top: 0.05px;
    background-color: rgb(243, 245, 247);
}
 
.flexboxContainer:first-child {
    margin-top: 0.5rem;
}
 
.flexboxItem {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}
 
.flexboxItem > p {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.flexboxItem:last-child > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 
.flexboxItem:last-child {
    border-bottom: solid 1px black;
}
 
.name, .address {     
    font-weight: bold;
    margin-right: 1rem;
}

@media all and (max-width:600px) {
    .flexboxContainer {
        width: 100%;
        font-size: 9pt;
    }

    .flexboxItem > p {
        margin-bottom: 0.5rem;
    }
}

@media all and (max-height: 450px)  {
    .flexboxContainer {            
        font-size: 10pt;
    }
}