.searchResultContainer {
    background-color: rgb(243, 245, 247);
    border-radius: 5px;
    margin-top: 4rem;
    margin-left: 11rem;
    width: 26rem;
    padding: 2.5rem 4.5rem 2.7rem 4rem;
}
 
.flexboxItem {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}

.flexboxItem:nth-child(2) {
    margin-bottom: 1.5rem;
}
 
.flexboxItem > p {
    margin-top: 1.5rem;
}
 
.title, .address {
    font-weight: bold;
    margin-right: 1rem;
}

.flexboxItem:nth-child(3),
.flexboxItem:nth-child(4),
.flexboxItem:nth-child(5),
.flexboxItem:nth-child(6) {    
    justify-content: space-between;
}

@media all and (max-width:1500px) {
    .searchResultContainer {       
        margin-left: 6.5rem;
        width: 23rem;
        padding: 2.5rem 4.5rem 2.7rem 4rem;
    }
}

@media all and (max-width:1200px) {
    .searchResultContainer {
        margin-left: 0rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        width: 28.5rem;
        padding: 2.5rem 4.5rem 2.5rem 4rem;
    }

    .flexboxItem:nth-child(3),
    .flexboxItem:nth-child(4),
    .flexboxItem:nth-child(5),
    .flexboxItem:nth-child(6) {    
       line-height: 0.6rem;
    }
}

@media all and (max-width:600px) {
    .searchResultContainer {
        margin-top: 3rem;
        width: 80%;
        padding: 1.5rem 2rem 2rem 2rem;
        font-size: 9pt;
    }
}

@media all and (max-height: 450px)  {
    .searchResultContainer {            
        font-size: 10pt;
    }
}





 