.app {
    width: 100%;
    padding: 3rem;
}

/* tijdelijke CSS: later modules.css file per component file */
.inputForm > input {
    width: 20rem;
    height: 1.8rem;
    margin-top: 2rem;
    margin-right: 1.3rem;    
    margin-bottom: 1rem;
}

.inputForm > button {
    background-color: black;
    color: white;
    width: 8rem;
    height: 2.2rem;    
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.printDetailsCompany {
    margin-top: 1rem;
}

.flexboxContainer {
    float: left;
    margin-right: 6rem;
    margin-top: 1.5rem;
}

.flexboxItem {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}

.flexboxItem > p {
    margin-bottom: 0.5rem;
}

.title {
    margin-right: 1rem;
}
