.flexboxContainer {    
    float: left;
    margin-right: 3rem;
    margin-top: 3rem;
    width: 26.5rem;
}

.flexboxItem {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0.6rem;
}

span {
    margin-right: 7rem;
}

@media all and (max-width:1400px) {
    .flexboxContainer {
        margin-right: 4rem;
    }

    span {
        margin-right: 3rem;
    }
}

@media all and (max-width:1200px) {
    .flexboxContainer {
        width: 19rem;
        margin-right: 4rem;
        margin-top: 4rem;
    }

    span {
        margin-right: 1rem;
    }
}

@media all and (max-width:800px) {
    .flexboxContainer {
        width: 16rem;
        margin-right: 3rem;
        font-size: 10pt;
    }

    span {
        margin-right: 0rem;
    }
}

@media all and (max-width:600px) {
    .flexboxContainer {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: -1rem;
        font-size: 9pt;
    }
}

@media all and (max-height: 800px)  {
    .flexboxContainer {   
        font-size: 11pt;
    }
}

@media all and (max-height: 450px)  {
    .flexboxContainer {   
        width: 16rem;
        margin-right: 2.5rem;
        margin-bottom: 3.5rem;
        font-size: 9pt;
    }

}