.flexboxContainer {
    float: left;
    margin-right: 3rem;
    margin-top: 3rem;
    width: 26.5rem;
}

.flexboxItem {
    display: flex;
    flex-direction: row;
}

span {
    text-align: right;
    margin-left: 1rem;
}