.flexboxContainer {
    float: left;
    margin-right: 3rem;
    margin-top: 3rem;
    width: 26.5rem;
}

.flexboxItem {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    margin-right: 3rem;
}