.header {  
    font-size: 12pt;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
}
   
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    margin-left: 5rem;
    margin-top: 0rem;
}
  
li a {
    color: black;
    text-align: right;
    text-decoration: none;
}
  
li a:hover {
    color: rgb(48, 44, 155);
}
