.messageContainer {
    background-color: rgb(243, 245, 247);
    border-radius: 5px;
    margin-top: 4rem;
    margin-left: 11rem;
    height: 22rem;
    width: 26rem;
    padding: 3.5rem 4.5rem 2.7rem 4rem;
    font-weight: bold;
}

@media all and (max-width:1500px) {
    .messageContainer {
        margin-left: 6.5rem;
    }
}

@media all and (max-width:1200px) {
    .messageContainer {
        margin-top: 3.5rem;      
        margin-bottom: 3.5rem;
        margin-left: 0rem;
        height: 19rem;
        width: 28.5rem;
        padding: 3.5rem 4.5rem 2.7rem 4rem;
    }
}

@media all and (max-width:600px) {
    .messageContainer {
        margin-top: 3rem;
        width: 80%;
        height: 1rem;      
        padding: 1.5rem 2rem 2rem 2rem;
        font-size: 9pt;
    }
}


@media all and (max-height: 800px)  {
    .messageContainer {   
        font-size: 11pt;
    }
}

@media all and (max-height: 450px)  {
    .messageContainer {   
        height: 1rem;   
        width: 26.5rem;
        padding: 2rem 4.5rem 2.7rem 4rem;      
        font-size: 10pt;
    }
}